h1 {
    text-align: center;
    color:#2196F3;
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	font-size: 22px;
    margin:10px 0;
    padding: 20px 20px;
border-right: 2px solid #6499F4;
    overflow: hidden; 
    width: 80%;
}
table { border: 2px solid #6499F4; text-align: left; width: 100%; font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; width: 80%;}
th { padding: 20px 20px; }
td { color: #00557F; font-size: 18px;border-bottom: 2px solid #447FAB; border-right: 2px solid #6499F4;font-weight: normal;  padding: 20px 20px;}
.alt td { background: #E1EEf4; color: #00557F; }
td:first-child { border-left: none; }
tr:last-child td { border-bottom: none;}
label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }